SightseerApp/node_modules
SightseerApp/.expo/
SightseerApp/dist/
SightseerApp/npm-debug.*
SightseerApp/*.jks
SightseerApp/*.p8
SightseerApp/*.p12
SightseerApp/*.key
SightseerApp/.mobileprovision
SightseerApp/*.orig.*
SightseerApp/web-build/
cloudflared.exe


# macOS
.DS_Store
